# WeiDU Mod Packager by Argent77
# See: https://github.com/InfinityTools/WeiduModPackager

name: 'WeiDU Mod Packager (iemod; multi-platform: x86-legacy; use git release tag name as suffix)'

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  call_workflow:
    strategy:
      matrix:
        type: [iemod, multi]

    permissions:
      contents: write

    uses: InfinityTools/WeiduModPackagerLibrary/.github/workflows/WeiduModPackagerLibrary.yml@master
    with:
      type: ${{ matrix.type }}
      architecture: x86-legacy
      suffix: ${{ github.event.release.tag_name }}
      naming: tp2
